@import "../../scss/main.scss";

.details {
    font-size: 1.4rem;
    color: $color-grey-light-1;
    width: 95%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);    
    grid-gap: 1rem;
    border: .5rem solid rgba($color-blue-dark-2, .9);
    background-color:  rgba($color-blue-dark-2, .7);
    padding: 1rem;
    box-shadow: .6rem .6rem .8rem 0 rgba($color-blue-dark-2, .8);

    @include respond(small) {
        grid-template-columns: minmax(min-content, 1fr) 1fr;
    }

    &__img {
        width: 100%;
        max-width: 33rem;
        margin: 0 auto;
    }

    &__text-box {
        @include respond(small) {
            display: flex;
            flex-direction: column;
            padding: 1.2rem;
        }
    }

    &__name { 
        line-height: 0.8; 
        margin-bottom: 1rem;
    }

    &__attacks {
        margin-top: auto;
        margin-bottom: 1rem;
        text-align: center;
        @include respond(small) {
            grid-column: 1 / -1;
        }
    }
}