@import "../../scss/main.scss";

.details {
    font-size: 1.4rem;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);    
    grid-gap: 1rem;
    border: .2rem solid $color-grey-dark-1;
    background-color: $color-grey-light-2;
    padding: 1rem;

    @include respond(small) {
        grid-template-columns: minmax(min-content, 1fr) 1fr;
    }

    &__img {
        width: 100%;
        max-width: 33rem;
        margin: 0 auto;
    }

    &__text-box {
        @include respond(small) {
            padding: 1.2rem;
        }
    }

    &__name {
        color: $color-grey-dark-1;
        line-height: 0.8;
    }

    &__attacks {
        text-align: center;
        @include respond(small) {
            grid-column: 1 / -1;
        }
    }
}