<div class="c-container">
    <form class="search" [formGroup]="searchForm">
        <input type="text" class="search__input" formControlName="search" placeholder="Pesquisar...">
    </form>

    <div class="loader" *ngIf="isLoading | async"></div>

    <p *ngIf="!(isLoading | async) && pokemonsList.length === 0"  class="empty-message">...</p>

    <div class="list">
        <app-card [pokemon]="pokemon" class="card" *ngFor="let pokemon of pokemonsList"></app-card>
    </div>

    <button 
        *ngIf="pokemonsList.length > 0 && pokemonsList.length < responseData!.totalCount"
        class="more-btn"
        [disabled]="(isLoading | async)"
        (click)="getMore()">
            Exibir mais 
            <div *ngIf="isLoading | async" class="loader loader--btn"></div>
    </button>

</div>