<div class="c-container">

    <app-filter></app-filter>

    <div class="loader" *ngIf="(isLoading | async) || (isParamCardsLoading | async)"></div>

    <p *ngIf="!(isLoading | async) && this.cardsInfo?.data?.length === 0"  class="empty-message">...</p>

    <app-card-list *ngIf="!(isLoading | async)"></app-card-list>

    <div *ngIf="!(isLoading | async)" class="amount">
        <div class="amount__display">
            <p>{{ cardsInfo?.data?.length || '--' }} / {{ cardsInfo?.totalCount || '--' }}</p>
        </div>
    </div>

   <app-more-cards-btn *ngIf="(hasCards$ | async) && !(isLoading | async)"></app-more-cards-btn>

</div>