@import "../../scss/main.scss";

.search {
    &__input {
        border: none;
        border-bottom: 2px solid $color-grey-dark-1;
        width: 50%;
        color: $color-white;
        background-color: transparent;

        &:focus,
        &:focus {
            outline: none;
        }
    }

    ::placeholder {
        color: $color-white;
        opacity: 1; /* Firefox */
    }
      
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color-white;
    }
      
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: $color-white;
    }
}

.empty-message {
    margin: 20px auto;
    text-align: center;
}

.list {
    margin-top: 15px;
    width: 100%;
    grid-gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
    margin-bottom: 20px;
}

.more-btn {
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    background-color: $color-blue;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 30px;
    text-transform: uppercase;
    border: none;
    border-radius: 7px;
    box-shadow: 6px 6px 8px 0px $color-red-dark-1;
    cursor: pointer;

    display: flex;
    align-items: center;
    column-gap: 13px;
}