@import "../../scss/main.scss";

.card {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    color: $color-white;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba($color-blue-dark-3, .8);
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 2%;
    box-shadow: .6rem .6rem .8rem 0 $color-blue-dark-2;
    cursor: pointer;

    @include respond(small) { max-width: 30.3rem; }

    &--Colorless { @include borderByType(.5rem, solid, $colorless); }
    &--Darkness { @include borderByType(.5rem, solid, $darkness); }
    &--Dragon { @include borderByType(.5rem, solid, $dragon); }
    &--Fairy { @include borderByType(.5rem, solid, $fairy); }
    &--Fighting { @include borderByType(.5rem, solid, $fighting); }
    &--Fire { @include borderByType(.5rem, solid, $fire); }
    &--Grass { @include borderByType(.5rem, solid, $grass); }
    &--Lightning { @include borderByType(.5rem, solid, $lightning); }
    &--Metal { @include borderByType(.5rem, solid, $metal); }
    &--Psychic { @include borderByType(.5rem, solid, $psychic); }
    &--Water { @include borderByType(.5rem, solid, $water); }

    &__img {
        width: 100%;
        margin-bottom: 1rem;
    }

    &__type {
        display: inline-block;
        margin: .3rem;
        font-size: 1.3rem;
        color: rgba($color: #fff, $alpha: .9);
        font-weight: 600;
        padding: .3rem 1.5rem;
        border-radius: 20%/50%;

        &--Colorless { @include bgByType($colorless); }
        &--Darkness { @include bgByType($darkness); }
        &--Dragon { @include bgByType($dragon); }
        &--Fairy { @include bgByType($fairy); }
        &--Fighting { @include bgByType($fighting); }
        &--Fire { @include bgByType($fire); }
        &--Grass { @include bgByType($grass); }
        &--Lightning { @include bgByType($lightning); }
        &--Metal { @include bgByType($metal); }
        &--Psychic { @include bgByType($psychic); }
        &--Water { @include bgByType($water); }
    }
}