@import "../../scss/main.scss";

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $color-grey-light-1;
    padding: 1rem;
    font-size: 1.6rem;
    border: solid .3rem $color-grey-dark-1;
    border-radius: 2%;
    box-shadow: .6rem .6rem .8rem 0 rgb(61, 61, 61);
    cursor: pointer;

    &__img {
        width: 100%;
        margin-bottom: 1rem;
    }

    &__type {
        margin-top: .7rem;
        font-size: 1.3rem;
        color: rgba($color: #fff, $alpha: .9);
        font-weight: 600;
        padding: .3rem 1.5rem;
        border-radius: 20%/50%;

        &--Colorless { background-color: #919aa2; }
        &--Darkness { background-color: #5a5465; }
        &--Dragon { background-color: #0b6dc3; }
        &--Fairy { background-color: #ec8fe6; }
        &--Fighting { background-color: #ce416b; }
        &--Fire { background-color: #ff9d55; }
        &--Grass { background-color: #63bc5a; }
        &--Lightning { background-color: #f4d23c; }
        &--Metal { background-color: #5a8ea2; }
        &--Psychic { background-color: #fa7179; }
        &--Water { background-color: #5090d6; }
    }
}