@import "../../scss/main.scss";

.header {
    background-color: $color-red;
    height: 10vh;
    color: $color-grey-light-1;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .3rem 1rem;
    display: grid;
    align-content: center;
    grid-template-columns: max-content 1fr;
    justify-content: space-between;

    &__logo {
        cursor: pointer;
    }
    
    &__displays {
        display: grid;
        justify-content: end;
        grid-template-columns: repeat(3, max-content);
        align-content: center;
        grid-column-gap: .7rem;
    }

    &__display {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid $color-grey-dark-1;

        &--red { background-color: $color-red-1; }

        &--yellow { background-color: $color-yellow; }

        &--green { background-color: $color-green; }
    }
    
}