$color-red: #c63639;
$color-red-dark-1: #692d2b;
$color-red-light: #df6662;

$color-yellow: #feead4;

$color-blue: #3498db;
$color-blue-dark-1: #2a83be;
$color-blue-dark-2: #1b567e;
$color-blue-dark-3: #10496f;
$color-blue-light: #99d6ff;


$color-white: #fff;

$color-grey-light-1: #f8f8f8;
$color-grey-light-2: #dfdfdf;

$color-grey-dark-1: #212121;

//TYPE COLORS
$colorless: #919aa2;
$darkness: #5a5465;
$dragon: #0b6dc3;
$fairy: #ec8fe6;
$fighting: #ce416b;
$fire: #ff9d55;
$grass: #63bc5a;
$lightning: #f4d23c;
$metal: #5a8ea2;
$psychic: #fa7179;
$water: #5090d6;

.type-icon { width: 20px; }

.c-container{
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 0 1.5rem;

    @include respond(small) { max-width: 520px; }
    @include respond(medium) { max-width: 720px; }
    @include respond(large) { max-width: 960px; }
    @include respond(xlarge) { max-width: 1140px; }    
    @include respond(xxlarge) { max-width: 1320px; }  
}

.loader {

    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: .4);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

   &__motion {
        border: .6rem solid transparent;
        border-top: .6rem solid #fff;
        border-bottom: .6rem solid #fff;
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
        -webkit-animation: spin 2s linear infinite; 
        animation: spin 2s linear infinite;
   }

   &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    color: #fff;
    font-size: 1.8rem;
    -webkit-animation: blink 2s linear infinite; 
    animation: blink 2s linear infinite;
   }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes blink {
    0% { -webkit-opacity: 0; }
    50% { -webkit-opacity: 1; }
    100% { -webkit-opacity: 0; }
  }
  
@keyframes blink {
    0% { opacity: 0; }
    50% { -webkit-opacity: 1; }
    100% { opacity: 0; }
}