@import "../../scss/main.scss";

.amount {
    width: 100%;
    display: grid;
    justify-content: flex-end;
    margin: 1rem 0;

    &__display {
        background-color: $color-blue;
        color: $color-white;
        font-size: 1.6rem;
        font-family: 'Roboto Mono';
        text-transform: uppercase;
        border: .4rem solid $color-red-dark-1;
        border-bottom: .4rem solid $color-red-light;
        padding: .5rem 1rem;
    }
}