@import "../../scss/main.scss";

.display {
    width: 100%;
    min-height: 70vh;
    background-color: $color-blue;
    background-image: 
    linear-gradient(45deg, rgba(52, 152, 219, 0.5) 50%, transparent 50%),
    linear-gradient(-45deg, rgba(117, 180, 243, 0.5) 50%, transparent 50%);
    background-size: 35px 35px;
    
    position: relative;
    border: 1.4rem solid #24415e;
    border-bottom: 1.4rem solid #74aee7;
    border-right: 1.4rem solid #74aee7;    

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 5px;
        height: 50%;
        background-color: #feead4;
        bottom: -60px;
        left: -60px;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 30%;
        height: 5px;
        background-color: #feead4;
        bottom: -60px;
        left: -60px;
    }
}