@import "../../scss/main.scss";

.header {
    border-bottom: .4rem solid $color-red-dark-1;
    height: 10vh;
    color: $color-grey-light-1;
    font-size: 3.2rem;
    font-weight: 500;
    padding: .5rem 1.6rem;
    display: grid;
    align-content: center;
    grid-template-columns: minmax(19.4rem, 29.5rem) 1fr;
    justify-content: space-between;
    box-shadow: 0 .4rem #feead4;

    &__logo {
        cursor: pointer;
    }
    
    &__displays {
        margin-left: 2rem;
        display: grid;
        justify-content: end;
        grid-template-columns: repeat(3, max-content);
        align-content: center;
        grid-column-gap: 1.2rem;
    }

    &__display {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid $color-grey-dark-1;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background-color: rgba($color: #fff, $alpha: .4);
            top: 1px;
            left: 2px;
        }

        &::after {
            content: "";
            position: absolute;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background-color: rgba($color: #000, $alpha: .2);
            bottom: 1px;
            right: 3px;
        }

        &--red { background-color: #9C5A4E; }

        &--yellow { background-color: #FCCB82; }

        &--green { background-color: #97C08E; }
    }
    
}