@import "../../scss/main.scss";

.search {

    width: 75%;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    column-gap: 2.5rem;

    @include respond("medium") { width: 50%; }

    &__btn {
        transform: translateY(-.5rem);
        background-color: $color-blue;
        color: white;
        padding: .7rem 3rem;
        border: none;
        border-top: .4rem solid $color-blue-light;
        border-radius: .4rem;
        box-shadow: 0 .9rem 0 0 $color-blue-dark-2;
    
        display: flex;
        align-items: center;
        column-gap: 1.3rem;
        cursor: pointer; 
    
        &:hover,    
        &:disabled,
        &[disabled] {
            border-top: .6rem solid $color-blue-dark-2;
            box-shadow: 0 .2rem 0 0 $color-blue-dark-2;
            background-color: $color-blue-dark-1;
            transform: translateY(.1rem);
        }
    
        &:disabled,
        &[disabled] {
            cursor: auto;
        }
    }

    &__btn-icon {
        height: 2rem;
    }
}

.ng-autocomplete {
    z-index: 2;
    ::ng-deep input {
        border: .4rem solid $color-red-dark-1 !important;
        border-bottom: .4rem solid $color-red-light !important;
        background-color: $color-blue !important;
        color: $color-white !important;
        font-size: 1.6rem;
        font-family: 'Roboto Mono' !important;
        text-transform: uppercase;
    }    

    ::ng-deep ::placeholder {
        color: $color-white !important;
        opacity: 1; /* Firefox */
    }
      
    ::ng-deep :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color-white !important;
    }
      
    ::ng-deep ::-ms-input-placeholder { /* Microsoft Edge */
        color: $color-white !important;
    }
}