/* You can add global styles to this file, and also import other style files */

@import "./app/scss/main.scss";

html { 
    box-sizing: border-box;
    font-size: 62.5%;  //16px / 10px = 62,5%
}

body { 
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    background-color: $color-red;
}

*, 
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}