@import "../../scss/main.scss";

.attack {
    background-color: $color-white;
    color: $color-grey-dark-1;
    padding: 1rem;    
    display: grid;
    margin-bottom: 10px;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    box-shadow: .6rem .6rem .8rem 0 rgb(61, 61, 61);
        
    &__dmg {
        text-align: end;
        font-weight: 600;
    }
    
    &__cost,
    &__description {
        grid-column: 1 / -1;
    }

    &__cost {
        display: flex;
        column-gap: 0.5rem;
    }
}